.card-img-top {
    width: 100%;
    height: 250px; 
    object-fit: cover; 
    object-position: center; 
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1; 
}